.content-image
    {
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    padding:0px;
}

.content-text
{
	border:#CCC solid 1px;
	width:510px;
	text-align:center;
	color:#f1f1f1;
	padding:15px;
	min-height:380px;
}

table.center
{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}